/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

.container {
  display: flex;
}

main,
main form {
  display: flex;
  width: 675px;
}

main form {
  flex-direction: column;
}

#trybewarts-forms-logo {
  width: 500px;
  height: 500px;
}

.linha2 {
  display: flex;
  flex-direction: column;
}
