body {
  padding: 0;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* divisórias */
span {
  margin: 50px 1px;
  width: 80%;
  border: 1px solid rgba(173, 173, 173, 0.432);
}

/* buttons */
#enviar , #submit-btn {
  height: 27px;
  width: 70px;
}

/* barra fixa */
header {
  position: sticky;
  top: 0;
  z-index: 3;
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(50, 167, 145);
}

header h1 {
  color: aliceblue;
  letter-spacing: 4px;
  font-size: 2.2rem;
}

header img {
  height: 90%;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input {
  margin-right: 5px;
  height: 35%;
  padding: 5px;
  border-radius: 5px;
}

/* Forms */
.container {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

main , #evaluation-form {
  display: flex;
  width: 675px;
}

#evaluation-form {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* titulos */
h2 , #label-family , .label-title , #house-title {
  font-weight: 600;
  font-size: 1em;
}

.name-lastname , .email-house {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

.name-lastname input , .email-house input {
  font-size: 1em;
  width: 47%;
  padding: 5px;
}

/* Escolha a sua casa */
#house {
  text-align: center;
  padding: 5px;
  font-size: 1em;
  margin-left: 0%;
  width: 20%;
}

/* Grupo do centro */
.family-likeLearn {
  height: 150px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.family , .like-learn {
  margin-bottom: 10px;
  width: 45%;
  display: flex;
  flex-direction: column;
}

/* avaliação de 0 a 10 */
.radio {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio-linear {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

#label-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Brasão da escola */
#trybewarts-forms-logo {
  width: 500px;
  height: 500px;
}

footer {
  margin-top: 50px;
  background-color: rgb(50, 167, 145);
  color: aliceblue;
  box-shadow: 1px -1px 3px black;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
