html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  box-shadow: 1px 1px 5px black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(50, 167, 145);
}

header h1 {
  color: aliceblue;
}

header img {
  height: 90%;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input {
  margin-right: 5px;
  height: 35%;
  padding: 5px;
  border-radius: 5px;
}

#enviar {
  height: 27px;
}

.container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

main , #evaluation-form {
  display: flex;
  width: 675px;
}

#evaluation-form {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
}

#trybewarts-forms-logo {
  width: 500px;
  height: 500px;
}

.name-lastname , .email-house {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

.name-lastname input , .email-house input {
  font-size: 1em;
  width: 47%;
  padding: 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
